.contact-section{
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: calc(100vh - 187px);
}

.contact-section .flex-box{
    display: flex;
    flex-direction: column;
    gap: 40px;
}